/* 
    Document   : home
    Created on : 02/01/2014, 16:57:51
    Author     : ilton_unb
    Description:
        Purpose of the stylesheet follows.
*/

#header_nav {
    padding-top: 20px;
}

#header_nav nav {
    margin-top: 9px;
}

#header_nav nav a {
    font-size: 1.4em;
}

#header_nav nav li {
    margin-left: 3%;
}

#brand {
    font-weight: bold;
    font-size: 1.4em;
}

#brand img {
    width: 47px;
}

#header_nav div .btn {
    float: right;
    margin-top: 10px;
}

#perfil_rapido {
    padding-top: 1%;
}

#perfil_rapido img {
    width: 30px;
}